<div class="form-group">
     <label for="sel1">How many holes do you have?</label>
     <select class="form-control" id="sel1" ng-model="numHoles">
          <option>1</option>
          <option>2</option>
          <option>3</option>
     </select>
</div>

<div class="form-group">
     <label for="sel2">How big is the hole?</label>
     <select class="form-control" id="sel2" ng-model="sizeHole">
          <option>golf ball</option>
          <option>orange</option>
          <option>basketball</option>
     </select>
</div>

<div class="form-group">
     <label for="sel3">What type of wall?</label>
     <select class="form-control" id="sel3" ng-model="typeWall">
          <option>Paneling</option>
          <option>Drywall</option>
          <option>Plaster</option>
     </select>
</div>

<div class="form-group">
     <label for="sel4">Will a ladder be required?</label>
     <select class="form-control" id="sel4" ng-model="needLadder">
          <option>yes</option>
          <option>no</option>
     </select>
</div>

<div class="form-group">
  <label for="date">Date:</label>
  <input type="date" class="form-control" id="date" ng-model="date">
</div>

<div class="form-group">
  <label for="time">Time:</label>
  <input type="time" class="form-control" id="time" ng-model="time">
</div>

<div class="form-group">
     <label for="sel5">Estimated number of hours?</label>
     <select class="form-control" id="sel5" ng-model="numHours">
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
     </select>
</div>

<div class="form-group">
     <label for="comment">Describe your project:</label>
     <textarea class="form-control" rows="5" id="comment" ng-model="description"></textarea>
</div>

<input type="submit" class="btn btn-info" value="Quote" ng-click="quote()">
