<!-- <div class="loginBox">
     <p>Username</p>
     <input type="text" name="Username" placeholder="Username" ng-model="username">

     <p>Password</p>
     <input type="password" name="Password" placeholder="Password" ng-model="password"><br>



     <input type="submit" name="submit" value="Login" ng-click="login()">
</div> -->

<div class="loginBox">


     <div class="form-group">
          <label for="usr">Username:</label>
          <input type="text" name="Username" placeholder="Username" class="form-control" id="usr" ng-model="username">
     </div>
     <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" name="Password" placeholder="Password" class="form-control" id="pwd" ng-model="password">
     </div>

     <input type="submit" name="submit" class="btn btn-info" value="Login" ng-click="login()">
     <a href="#/register" class="btn btn-info" role="button">Register</a>

</div>
