<div class="col-md-8"><a href="#/"><img src="images/dc-roasters.png" alt="" /></a></div>

<div>
     <table style="width:50%" ng-model="order">
          <tr class="tableHeader">
               <th colspan="2">Your Job</th>
          </tr>
          <tr>
               <td>Job</td>
               <td>TV Install</td>
          </tr>
          <tr>
               <td>Date</td>
               <td>{{tvOptions.date}}</td>
          </tr>

          <tr>
               <td>Time</td>
               <td>{{tvOptions.time}}</td>
          </tr>

          <tr>
               <td>Full Name</td>
               <td>{{order.address.name}}</td>
          </tr>
          <tr>
               <td>Address</td>
               <td>{{order.address.address}}</td>
          </tr>
          <tr>
               <td>Address 2</td>
               <td>{{order.address.address2}}</td>
          </tr>
          <tr>
               <td>City</td>
               <td>{{order.address.city}}</td>
          </tr>
          <tr>
               <td>State</td>
               <td>{{order.address.state}}</td>
          </tr>
          <tr>
               <td>Zip Code</td>
               <td>{{order.address.zipCode}}</td>
          </tr>




          <tr>
               <td>Total</td>
               <td>{{tvOptions.total}}</td>
          </tr>
     </table>
     <br>
     <input type="submit" name="submit" class="btn btn-info" value="Pay With Card" ng-click="pay()">
     <input type="submit" name="submit" class="btn btn-info" value="Cancel" ng-click="cancel()">

</div>
