<!-- <a href="#/quote"><button type="button" name="button">Book</button></a> -->
<!-- <input type="submit" name="submit" value="Book It" ng-click="book()">

<input type="submit" name="submit" value="Book a Service" ng-click="book()">

<a href="#/services"><button type="button" name="button">Book a Service</button></a>

<input type="submit" name="submit" value="Book a Service" ng-click="book()"> -->

<br><br>
<!-- {{$scope.total}}
{{$rootScope.total}}
{{date}}
{{$scope.gt32}}
{{$rootScope.brackets}} -->
{{tvOptions.total}}
<!-- {{tvOptions.wall}} -->

<br><br><br>

<input type="submit" name="submit" class="btn btn-info" value="Book" ng-click="Book()">
