<div>
     <table style="width:50%" ng-model="order">

          <!-- <tr>
               <td>Job</td>
               <td>{{THE JOB}}</td>
          </tr> -->

          <tr>
               <td>Time</td>
               <td>{{tvOptions.time}}</td>
          </tr>
          <tr>
               <td>Date</td>
               <td>{{tvOptions.date}}</td>
          </tr>


          <tr>
               <td>Description</td>
               <td>{{tvOptions.description}}</td>
          </tr>

          <tr>
               <td>Total</td>
               <td>{{tvOptions.total}}</td>
          </tr>
     </table>
     <br>

</div>

<!-- {{$scope.total}}
{{$rootScope.total}}
{{date}}
{{$scope.gt32}}
{{$rootScope.brackets}} -->

<!-- {{tvOptions.wall}} -->


<input type="submit" name="submit" class="btn btn-info" value="Book" ng-click="book()">
