<ul>
     <li>
          <a href="#/services/tv/10">Mount a TV</a>
          <!-- <a href="#/services"><button type="button" name="button">Book a Service</button></a> -->
     </li>
     <li>
          <a href="#/services/electrical/install-ceiling-fan/20">Install Ceiling Fan</a>
          <!-- <input type="submit" name="submit" value="MOUNT 2 TVS" ng-click="someFunction()"> -->
     </li>
     <li>
          <a href="#/services/handyman/fix-hole-in-wall/30">Fix Hole in Wall</a>
          <!-- <input type="submit" name="submit" value="MOUNT 3 TVS" ng-click="someFunction()"> -->
     </li>
</ul>
