<div class="form-group">
     <label for="sel1">Brick or concrete walls?</label>
     <select class="form-control" id="sel1" ng-model="wall">
          <option>yes</option>
          <option>no</option>
     </select>
</div>

<div class="form-group">
     <label for="sel2">Do you have a mounting bracket?</label>
     <select class="form-control" id="sel2" ng-model="brackets">
          <option>yes</option>
          <option>no</option>
     </select>
</div>

<div class="form-group">
     <label for="sel3">Larger than 32?"</label>
     <select class="form-control" id="sel3" ng-model="gt32">
          <option>yes</option>
          <option>no</option>

     </select>
</div>

<div class="form-group">
  <label for="date">Date:</label>
  <input type="date" class="form-control" id="date" ng-model="date">
</div>

<div class="form-group">
  <label for="time">Time:</label>
  <input type="time" class="form-control" id="time" ng-model="time">
</div>

<div class="form-group">
     <label for="sel4">Estimated number of hours?</label>
     <select class="form-control" id="sel4" ng-model="numHours">
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
     </select>
</div>

<div class="form-group">
     <label for="comment">Describe your project:</label>
     <textarea class="form-control" rows="5" id="comment" ng-model="description"></textarea>
</div>




<input type="submit" name="submit" class="btn btn-info" value="Quote" ng-click="quote()">
