a[ng-click]{
    cursor: pointer;
}

body {
     background-color: #99b3ff;
}

h1 {
     background-color: #303030;
     /*background-color: #fff;*/
     color: #ffffff;
     font-family: Abel;
     font-feature-settings: "'liga' 1";
     font-kerning: auto;
     font-style: normal;
     font-size: 3em;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5em;
     text-align: center;
     text-decoration: none;
     text-transform: none;
     word-spacing: 0;
}

h2 {
     background-color: #303030;
     color: #ffffff;
     font-family: Abel;
     font-feature-settings: "'liga' 1";
     font-kerning: auto;
     font-style: normal;
     font-size: 3em;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 1.5em;
     text-align: center;
     text-decoration: none;
     text-transform: none;
     word-spacing: 0;
}

.form-control {
     background-color: #303030;
     color: #ffffff;
}

.button {
     background-color: #ffffff;
}
